<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Games</key>
	<dict>
		<key>Scene</key>
		<array>
			<dict>
				<key>Looping</key>
				<false/>
				<key>Randoms</key>
				<dict>
					<key>1</key>
					<array>
						<string>Crime</string>
						<string>Person</string>
						<string>Place</string>
					</array>
				</dict>
				<key>Parts</key>
				<array>
					<string>Pick a criminal and have them leave temporarily so they cannot hear.</string>
					<string>Pick a crime, an accomplice, and a place.</string>
					<string>Bring the criminal back in the room.</string>
					<string>Tell the criminal they must correctly guess the crime, location and place.</string>
					<string>Cops interrogate the criminal by giving indirect details related to the crime.</string>
				</array>
				<key>Description</key>
				<string>Excellent improv game to train listening and context skills.

2 or more players, one temporarily leaves the room (they are the criminal) so they cannot hear. Pick a crime, an accomplice, and a place.
The idea is that criminal needs to guess the crime, the accomplice, and the place. The cops need to provide hints to the criminal, but they cannot explicitly tell the criminal what the crime is, who the accomplice is, and where the crime took place.
They need to give indirect details related to the crime details. If the accomplice is Abraham Lincoln, the cops could mention a tall honest man, pennies, the $5 bill, or civil liberites.</string>
				<key>Title</key>
				<string>Good Cop, Bad Cop</string>
			</dict>
		</array>
		<key>Exercise</key>
		<array>
			<dict>
				<key>LoopIndex</key>
				<integer>1</integer>
				<key>Looping</key>
				<true/>
				<key>Randoms</key>
				<dict/>
				<key>Parts</key>
				<array>
					<string>First person say a line</string>
					<string>Second person respond to the line</string>
					<string>Finally, the first person respond to the second person&apos;s line</string>
					<string>Restart! First person says a line</string>
				</array>
				<key>Description</key>
				<string>A great exercise to train scene start-ups. 2 players initiate a scene; the scene is broken off after 3 lines. The goal is to establish as much as possible as fast as possible. The point is to understand the who, what and where of a scene, the characters, the environment and the points of view or drivers of the characters.
Once 3 lines of dialog have been said, restart and do a different scene.</string>
				<key>Title</key>
				<string>Three Line Scenes</string>
			</dict>
		</array>
		<key>WarmUp</key>
		<array>
			<dict>
				<key>Looping</key>
				<false/>
				<key>Randoms</key>
				<dict>
					<key>10</key>
					<array>
						<string>Category</string>
					</array>
					<key>7</key>
					<array>
						<string>Category</string>
					</array>
					<key>1</key>
					<array>
						<string>Category</string>
					</array>
				</dict>
				<key>Parts</key>
				<array>
					<string>Stand in a circle</string>
					<string>Pick a category</string>
					<string>State an example of the category, then point to someone else. Keep pointing!</string>
					<string>The pointed to person says another example and points to someone else</string>
					<string>Continue the pattern (say an example and point to a new person) until eveyone is pointing at someone</string>
					<string>Repeat the &quot;chain&quot;, say your word and point to the person you pointed to last time and so on</string>
					<string>Drop the arms when the &quot;chain&quot; of words is memorized</string>
					<string>Do the same with a new category, with a different pointing pattern</string>
					<string>Repeat the new pattern until it is memorized</string>
					<string>Now, without pointing, run both categories at the same time</string>
					<string>Add more categories!</string>
				</array>
				<key>Description</key>
				<string>This is a great game to train memorization and concentration.
                    
You will need to create &quot;chains&quot; of objects from different categories. Some examples of categories are make of cars, types of hardware, kinds of food, kinds of plants, types of clothes, etc. Make sure to have eye contact when linking your item to the next person.

The idea is not only to listen for the item right before your&apos;s in the series (so you know when it&apos;s your turn), but also to make sure that when you pass an item to someone else, that someone else actually hears you. If not, then repeat your item, to ensure the series does not get broken.</string>
				<key>Title</key>
				<string>Categories</string>
			</dict>
			<dict>
				<key>LoopIndex</key>
				<integer>2</integer>
				<key>Looping</key>
				<true/>
				<key>Randoms</key>
				<dict>
					<key>3</key>
					<array>
						<string>Category</string>
					</array>
					<key>1</key>
					<array>
						<string>Category</string>
					</array>
				</dict>
				<key>Parts</key>
				<array>
					<string>Stand in a circle</string>
					<string>First person pick a category</string>
					<string>Next person say three things from that category</string>
					<string>Same person pick a new category</string>
				</array>
				<key>Description</key>
				<string>This is a good warm up for thinking up related ideas in a category, something that is very useful when you run out of ideas when you perform a scene.</string>
				<key>Title</key>
				<string>Three Things</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
