<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Games</key>
	<dict>
		<key>Scene</key>
		<array>
			<dict>
				<key>Randoms</key>
				<dict>
					<key>1</key>
					<array>
						<string>Crime</string>
						<string>Person</string>
						<string>Place</string>
					</array>
				</dict>
				<key>Parts</key>
				<array>
					<string>Pick a criminal, they should leave temporarily</string>
					<string>Pick a crime, an accomplice, and a place</string>
					<string>Bring the criminal back in</string>
					<string>Interrogate the criminal by giving clues about the picked things, but not by explicity stating them (Game ends when the criminal knows the crime, the accomplice, and the place)</string>
				</array>
				<key>Description</key>
				<string>Excellent improv game to train listening and context skills.
3 players, one temporarily leaves the room (they are the criminal). Pick a crime, an accomplice, and a place.
The idea is that criminal needs to guess the crime, the accomplice, and the place. The cops need to provide hints to the criminal, but they cannot explicitly tell the criminal what the crime is, who the accomplice is, and where the crime took place.</string>
				<key>Title</key>
				<string>Good Cop, Bad Cop</string>
			</dict>
			<dict>
				<key>Randoms</key>
				<dict/>
				<key>Parts</key>
				<array>
					<string>Do a scene, talk only in gibberish</string>
				</array>
				<key>Description</key>
				<string>Excellent exercise for improv players that suffer from chronic Waffling(Postponing by lack of ideas; aka you just keep on babbling in the hope you`ll have an idea).
Improvise a scene, completely in gibberish, no translations provided. The scene should be perfectly clear to the audience - we should be perfectly able to translate every gibberish sentence, and the story should make sense.</string>
				<key>Title</key>
				<string>Just Gibberish</string>
			</dict>
		</array>
		<key>Exercise</key>
		<array>
			<dict>
				<key>Randoms</key>
				<dict/>
				<key>Parts</key>
				<array>
					<string>First Person says a line</string>
					<string>Second person responds to the line</string>
					<string>First person responds to the Second person&apos;s line</string>
					<string>Restart! First person says a line</string>
				</array>
				<key>Description</key>
				<string>A great exercise to train scene start-ups. 2 players initiate a scene; the scene is broken off after 3 lines. The goal is to establish as much as possible as fast as possible. The point is to understand the who, what and where of a scene, the characters, the environment and the points of view or drivers of the characters.
Once 3 lines of dialog have been said, restart and do a different scene.</string>
				<key>Title</key>
				<string>Three Lines</string>
			</dict>
		</array>
		<key>WarmUp</key>
		<array>
			<dict>
				<key>Randoms</key>
				<dict>
					<key>10</key>
					<array>
						<string>Category</string>
					</array>
					<key>7</key>
					<array>
						<string>Category</string>
					</array>
					<key>1</key>
					<array>
						<string>Category</string>
					</array>
				</dict>
				<key>Parts</key>
				<array>
					<string>Stand in a circle</string>
					<string>Pick a category</string>
					<string>State an example of the category, then point to someone else. Keep pointing!</string>
					<string>The pointed to person says another example and points to someone else</string>
					<string>Continue the pattern (say an example and point to a new person) until eveyone is pointing at someone</string>
					<string>Repeat the &quot;chain&quot;, say your word and point to the person you pointed to last time and so on</string>
					<string>Drop the arms when the &quot;chain&quot; of words is memorized</string>
					<string>Do the same with a new category, with a different pointing pattern</string>
					<string>Repeat the new pattern until it is memorized</string>
					<string>Now, without pointing, run both categories at the same time</string>
					<string>Add more categories!</string>
				</array>
				<key>Description</key>
				<string>This is a great game to train memorization and concentration.
You will need to create &quot;chains&quot; of objects from different categories. Some examples of categories are make of cars, girls names, kinds of food, kinds of plants, etc. Make sure to have eye contact when linking your item to the next person.
The idea is not only to listen for the item right before yours in the series (so you know when it&apos;s your turn), but also to make sure that when you pass an item to someone else, that someone else actually hears you. If not, then repeat your item, to ensure the series does not get broken.</string>
				<key>Title</key>
				<string>Categories</string>
			</dict>
			<dict>
				<key>Randoms</key>
				<dict>
					<key>1</key>
					<array>
						<string>Category</string>
					</array>
				</dict>
				<key>Parts</key>
				<array>
					<string>Stand in a circle</string>
					<string>Pick a category</string>
					<string>Next person says three things from the category</string>
				</array>
				<key>Description</key>
				<string>This is a good warm up for expanding upon a scene, as it trains you to think about similiar objects you would find in a category.</string>
				<key>Title</key>
				<string>Three Things</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
