<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Crime</key>
	<array>
		<string>a pickpocketing</string>
		<string>an inside job</string>
		<string>dangerous driving</string>
		<string>a bomb threat</string>
		<string>treason</string>
		<string>a data breach</string>
		<string>a prison escape</string>
		<string>arson</string>
		<string>tax evasion</string>
		<string>a jaywalk</string>
		<string>a murder</string>
		<string>a robbery</string>
	</array>
	<key>Place</key>
	<array>
		<string>a jungle</string>
		<string>Timbuktu</string>
		<string>Berlin</string>
		<string>a theater</string>
		<string>the White House</string>
		<string>a western theme park</string>
		<string>a treehouse</string>
		<string>Paris</string>
		<string>an ice cream shop</string>
	</array>
	<key>Person</key>
	<array>
		<string>a chemist</string>
		<string>a priest</string>
		<string>a cop</string>
		<string>Donald Trump</string>
		<string>Elvis Presley</string>
		<string>Bill Gates</string>
		<string>a Google employee</string>
		<string>a carpenter</string>
		<string>Superman</string>
		<string>a teacher</string>
		<string>a window cleaner</string>
		<string>your dad</string>
		<string>Barack Obama</string>
		<string>Abraham Lincoln</string>
	</array>
	<key>Category</key>
	<array>
		<string>Drinks</string>
		<string>Video Games</string>
		<string>Companies</string>
		<string>Countries</string>
		<string>Tools</string>
		<string>Instruments</string>
		<string>Vegetables</string>
		<string>Clothes</string>
		<string>TV Shows</string>
		<string>Fruits</string>
	</array>
</dict>
</plist>
